<form [formGroup]="form">
  <fieldset class="form-group">
<!--    <legend class="h2">{{modalTitle}}</legend>-->
    <div class="form-field">
      <label>Name:</label>
      <input formControlName="name">
      <!--    <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">-->
      <!--      Please provide a course name.-->
      <!--    </div>-->
    </div>
    <div class="form-field">
      <label>Teacher:</label>
      <input formControlName="teacher">
    </div>
    <div class="form-field">
      <label>Description:</label>
      <input formControlName="description">
    </div>
  </fieldset>

  <div class="form-buttons">
    <button class="button button-primary"
            (click)="submit()">{{action}}</button>
  </div>
</form>
