<ng-container *ngIf="!isLoading; else spinner">
<form [formGroup]="updateCourseDetailsForm">
  <fieldset class="form-group">
      <div class="form-field">
        <label>Min Age:</label>
        <input formControlName="minAge">
      </div>
      <div class="form-field">
        <label>Max Age:</label>
        <input formControlName="maxAge">
      </div>
      <div class="form-field">
        <label>Price:</label>
        <input formControlName="price">
      </div>
      <div class="form-field">
        <label>Lesson Duration in Minutes:</label>
        <input formControlName="lessonDurationMinutes">
      </div>
      <div class="form-field">
        <label>Date in format Mon 13:00-13:45:</label>
        <input formControlName="date">
      </div>
      <div class="form-field">
        <label>Address:</label>
        <select formControlName="location">
          <option value="">--Please choose an option--</option>
          <option *ngFor="let location of locations; index as i" [value]="i">{{location.location}}</option>
        </select>
      </div>
  </fieldset>

  <div class="form-buttons">
    <button class="button button-primary"
            (click)="submit()" [disabled]="updateCourseDetailsForm.untouched || (updateCourseDetailsForm.dirty && updateCourseDetailsForm.invalid)">{{buttonAction.UPDATE}}</button>
  </div>
</form>

</ng-container>
<ng-template #spinner>
  <app-spinner [note]="''"></app-spinner>
</ng-template>
