<ng-container *ngIf="!isLoading else spinner">
  <div class="cultural-event-detail-container" *ngIf="culturalEvent.name.length; else noDataTemplate">
    <aside class="event-image-wrapper">
      <img class="event-image" [src]=culturalEvent.imgSource alt="cultural event">
    </aside>
    <aside class="event-details">
      <p>{{ culturalEvent.name }}</p>
      <p>{{ culturalEvent.date | date:'longDate' }} </p>
      <p>{{ culturalEvent.description }}</p>
      <p>Location: {{ culturalEvent.location?.location }}</p>
      <p>Price for ticket: {{ culturalEvent.price | currency: 'PLN' }}</p>
      <!--    BOOKING TICKETS OPTION AVAILABLE ONLY IF THERE IS ANY 'FREE SLOTS' -->
      <div class="button-right" *ngIf="isClient && freeSlots !== 0">
        <button class="button-primary" (click) = "openBookingDialog(culturalEvent.name)">BOOK NOW</button>
      </div>
    </aside>
  </div>
</ng-container>
<ng-template #spinner>
  <app-spinner [note]="spinnerNote"></app-spinner>
</ng-template>

<ng-template #noDataTemplate>
    <p class="no-data-message">{{ NO_DATA_AVAILABLE }}</p>
</ng-template>
