@import 'src/styles';

.cultural-event-detail-container {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  //height: calc(100% - 3rem); // if we set margin-bottom and margin-top to 1.5rem
  aside {
    width: calc(50% - 2rem);
    margin: 1rem
  }
}
.event-image-wrapper {
  .event-image {
    width: 100%;
  }
}
.event-details {
  p {
    margin-bottom: 1.5rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
