<ng-container *ngIf="!isLoading else spinner">
  <div class="cultural-event-detail-container" *ngIf="culturalEvent.name.length; else noDataTemplate">
    <aside class="event-image-wrapper">
      <img class="event-image" [src]=culturalEvent.imgSource alt="cultural event">
    </aside>
    <aside class="event-details">
      <p>{{ culturalEvent.name }}</p>
      <p>{{ culturalEvent.date | date:'longDate' }} </p>
      <p>{{ culturalEvent.description }}</p>
      <p>Location: {{ culturalEvent.location?.location }}</p>
      <p>Price for ticket: {{ culturalEvent.price | currency: 'PLN' }}</p>
    </aside>
  </div>
</ng-container>
<ng-template #spinner>
  <app-spinner [note]="spinnerNote"></app-spinner>
</ng-template>

<ng-template #noDataTemplate>
    <!--    <app-error [error]=appError></app-error>-->
    <p class="no-data-message">Oops! No data available at that moment. Please try again later.</p>
</ng-template>
