//source: https://freefrontend.com/css-speech-bubbles/
//Author: Code Boxx

@import 'src/styles.scss';

.speech {
  font-size: 1.1em;
  color: $primary-white;
  background: $primary-rose;

  position: absolute; // relative ?
  //position: relative;
  padding: 10px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 320px;
  z-index: 1;
}

.speech::after { // to create the tail
  content: "";
  border: 20px solid transparent;
  position: absolute;
}

.bottom.speech::after {
  border-top-color: $primary-rose;
  border-bottom: 0;
  bottom: -20px; left: 50%;
  margin-left: -20px;
}

.top.speech::after {
  border-bottom-color: $primary-rose;
  border-top: 0;
  top: -20px; left: 50%;
  margin-left: -20px;
}

.left.speech::after {
  border-right-color: $primary-rose;
  border-left: 0;
  left: -20px; top: 50%;
  margin-top: -20px;
}

.right.speech::after {
  border-left-color: $primary-rose;
  border-right: 0;
  right: -20px; top: 50%;
  margin-top: -20px;
}
