@import 'src/styles';
.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-photo {
  height: 75vh;
  border-radius: 50% 50% 0 0;
}

.home-title {
  position: absolute;
  font-family: $font-primary;
  font-size: 3em;
  bottom: 5%;
}

//.source {
//  position: absolute;
//  bottom: 0;
//  font: italic 0.75em "Roboto";
//}
