@use 'src/styles' as *;

.menus-section {
  display: flex;
  justify-content: space-around;
  margin: 1rem 20%;
}
.manage-account-container{
  font-style: italic;
  text-align: center;
}
.delete-icon {
  color: $primary-rose;
}
.update-icon {
  color: $primary-blue;
}
.manage-account-toggle {
  cursor: pointer;
}
.account-manager {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
