<form [formGroup]="signUpForm" class="form-container">
  <div class="form-group-wrapper">
  <fieldset class="form-group">
    <div class="form-field">
      <label>First Name:</label>
      <input formControlName="firstName" class="form-control" required>
      <div [hidden]="firstName.valid || firstName.pristine" class="form-validation-errors">
        <small class="text-danger" *ngIf="firstName.errors?.['required']">Please provide your first name.</small>
        <small class="text-danger" *ngIf="firstName.errors?.['maxLength']">First name should not exceed 24 characters.</small>
        <small class="text-danger" *ngIf="firstName.errors?.['pattern']">First name should contain letters only.</small>
      </div>
    </div>

    <div class="form-field">
      <label>Last Name:</label>
      <input formControlName="lastName" class="form-control" required>
      <div [hidden]="lastName.valid || lastName.pristine" class="form-validation-errors">
        <small class="text-danger" *ngIf="lastName.errors?.['required']">Please provide your last name.</small>
        <small class="text-danger" *ngIf="lastName.errors?.['maxLength']">Last name should not exceed 100 characters.</small>
        <small class="text-danger" *ngIf="lastName.errors?.['pattern']">Last name should contain letters only.</small>
      </div>
    </div>

    <div class="form-field">
      <label>Phone:</label>
      <input type="tel" formControlName="phone" placeholder="100200300" class="form-control" required>
      <div [hidden]="phone.valid || phone.pristine" class="form-validation-errors">
        <small class="text-danger" *ngIf="phone.errors?.['required']">Please provide a contact phone.</small>
        <small class="text-danger" *ngIf="phone.errors?.['maxLength']">Phone number should not exceed 9 digits.</small>
        <small class="text-danger" *ngIf="phone.errors?.['pattern']">Please match the requested format: 100200300.</small>
      </div>
    </div>

    <div class="form-field">
      <label>Date of birth:</label>
      <input type="date" formControlName="dob" placeholder="YYYY-MM-DD" class="form-control form-date" required>
      <div [hidden]="dob.valid || dob.pristine">
        <small class="text-danger" *ngIf="dob.errors?.['required']">Please provide your date of birth.</small>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="form-field">
      <label>Username:</label>
      <input type="email" formControlName="email" placeholder="example@example.com" class="form-control" required>
      <div [hidden]="email.valid || email.pristine">
        <small class="text-danger" *ngIf="email.errors?.['required']">Please provide your email as a username.</small>
        <small class="text-danger" *ngIf="email.errors?.['email']">Please match the requested format: example@example.com</small>
      </div>
    </div>

    <div class="form-field">
      <label>Password:</label>
      <input type="password" formControlName="password" class="form-control" required>
      <div [hidden]="password.valid || password.pristine">
        <small class="text-danger" *ngIf="password.errors?.['required']">Please provide a password.</small>
        <small class="text-danger" *ngIf="password.errors?.['pattern']">Please match the requested length and format: {{PASSWORD_REQUIREMENTS}}</small>
      </div>
    </div>

    <div class="form-field">
      <label>Confirm password:</label>
      <input type="password" formControlName="confirmPassword" class="form-control" required>
      <div [hidden]="confirmPassword.valid || confirmPassword.pristine">
        <small class="text-danger" *ngIf="confirmPassword.errors?.['required']">Please provide a password confirmation.</small>
        <small class="text-danger" *ngIf="confirmPassword.errors?.['confirmPassword']">Please make sure your passwords match.</small>
      </div>
    </div>
  </fieldset>
  </div>

  <div class="form-buttons">
    <button class="button button-secondary"
            (click)="close()">{{buttonAction.CANCEL}}
    </button>
    <button class="button button-primary" [disabled]="signUpForm.invalid"
            (click)="submit()">{{buttonAction.CREATE}}
    </button>
  </div>
</form>
