:host {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .75);
  padding: 3rem;
  overflow: auto;
}

.app-modal-container {
  padding: 3rem;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn-modal-close {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0;
}

.app-modal-title {
  font-size: 2rem;
}
