<section class="footer-section">

  <section class="contact-section">

    <!--    <section class="contact-us-section">-->
    <!--      <h3>CONTACT US</h3>-->
    <!--      <form>-->
    <!--        <div class="fields">-->
    <!--          <input id="name" type="text" name="name" placeholder="Name">-->
    <!--          <input id="email" type="text" name="email" placeholder="Email">-->
    <!--          <input id="subject" type="text" name="subject" placeholder="Subject">-->
    <!--          <textarea id="message" name="message" placeholder="Notes"></textarea>-->
    <!--        </div>-->
    <!--        <input type="submit" value="Send Message">-->
    <!--      </form>-->
    <!--    </section>-->

    <section class="contact-info-section">
      <h3>CONTACT INFO</h3>
      <div>
        <ul>
          <li>
            <a [routerLink]="">
              <i class="bi bi-envelope"></i>
              biuro@ccw.com
            </a>
          </li>
          <li>
            <a [routerLink]="">
              <i class="bi bi-phone"></i>
              +48 100 200 300
            </a>
          </li>
          <li>
            <a [routerLink]="">
              <i class="bi bi-pin-map"></i>
              CULTURAL CENTRE WIELISZEW, ul. Kulturalna 1, 05-135 Wieliszew
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="footer-contact-links">
      <h3>FOLLOW US</h3>
      <nav class="footer-navigation">
        <ul class="footer-icons">
          <li>
            <a [href]="['https://www.facebook.com/']">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a [href]="['https://www.linkedin.com/']">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li>
            <a [href]="['https://twitter.com']">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li>
            <a [href]="['https://youtube.com']">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
        </ul>
      </nav>
    </section>

  </section>

  <section class="copyright-section">
    <p>Copyright © 2023 Cultural Centre Wieliszew</p>
    <ul>
      <li>
        <a [routerLink]="">Privacy</a>
      </li>
      <li>
        <a [routerLink]="">Terms</a>
      </li>
      <li>
        <a [routerLink]="">Security</a>
      </li>
    </ul>
  </section>

</section>
