<section class="footer-section">

  <section class="contact-section">

    <section class="contact-info-section">
      <h3>CONTACT INFO</h3>
      <div>
        <ul>
          <li>
            <a [routerLink]="">
              <i class="bi bi-envelope"></i>
              {{contactInfo.mail}}
            </a>
          </li>
          <li>
            <a [routerLink]="">
              <i class="bi bi-phone"></i>
              {{contactInfo.phone}}
            </a>
          </li>
          <li>
            <a [routerLink]="">
              <i class="bi bi-pin-map"></i>
              {{contactInfo.name}}, {{contactInfo.address}}
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="footer-contact-links">
      <h3>FOLLOW US</h3>
      <nav class="footer-navigation">
        <ul class="footer-icons">
          <li>
            <a [href]="['https://www.facebook.com/']">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a [href]="['https://www.linkedin.com/']">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li>
            <a [href]="['https://twitter.com']">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li>
            <a [href]="['https://youtube.com']">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
        </ul>
      </nav>
    </section>

  </section>

  <section class="copyright-section">
    <p>Copyright © 2023 Cultural Centre Wieliszew</p>
    <ul>
      <li>
        <a [routerLink]="">Privacy</a>
      </li>
      <li>
        <a [routerLink]="">Terms</a>
      </li>
      <li>
        <a [routerLink]="">Security</a>
      </li>
    </ul>
  </section>

</section>
