@import 'src/styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //gap: 1rem;
  padding: 1.5rem;
  margin: 0;
  min-width: 100%;
  height: 100%;
  h2 {
    font-family: $font-primary;
  }
}
.img-404 {
  height: 75%;
}
