@use 'src/styles' as *;

@mixin alert-theme($alert-color, $alert-font-color) {
  background-color: $alert-color;
  color: $alert-font-color;
}

.alert-content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem;
  background: $primary-white;
  border: solid 2px;
  border-radius: 3rem;
}

.alert-message {
  //@include multiline-ellipsis();
}

.btn-alert-close {
  font-size: 1.5rem;
  cursor: pointer;
}

.alert-success {
  @include alert-theme(rgb(60, 165, 80), white)
}

.alert-info {
  @include alert-theme(rgb(60, 115, 165), white)
}

.alert-warn {
  @include alert-theme($primary-yellow, white);
}

.alert-error {
  @include alert-theme($primary-rose, white);
}

.alert-clear {
  @include alert-theme($primary-white, $font-color);
}
