@import 'src/styles';

.alerts {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  margin-left: 50%;
  margin-top: 7%;
}
.alert-content {
  max-width: 100%;
  //display: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem;
  background: $primary-white;
  //color: yellow;
  border: solid 2px;
  border-radius: 3rem;
}

.alert-message {
  @include multiline-ellipsis();
}

@mixin alert-theme($alert-color, $alert-font-color) {
  background-color: $alert-color;
  color: $alert-font-color;
  // 'i class'
}

.alert-error {
  //@include alert-theme()
}

.alert-success {
}

.alert-info {
}

.alert-warn {
  @include alert-theme($primary-yellow, yellow);
  //i
}

.alert-clear {
}
