<div class="alerts">

  <div class="alert-content">
    <i class="bi bi-phone"></i>
    <div class="alert-message">1alennnnnnnn 2nnnnnmmmmmmmmmmmmmmmmmmmmm 3mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 4mmmmmmmmmmmmmmmmmmmmmmmmmm 5mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 6mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</div>
    <span>&times;</span>
  </div>

  <div class="alert-content">
    <i class="bi bi-phone"></i>
    <div class="alert-message">alert</div>
    <span id="closeBtn">&times;</span>
  </div>

</div>
