.locations-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35vh 35vh;
  margin: 1rem;
}

.section-location {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
}

.address-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-photo {
  border-radius: 1.5rem;
}

.source {
  position: absolute;
  bottom: 10%;
  font: italic 0.75em "Roboto";
  width: 100%;
  text-align: center;
}
