<ng-container *ngIf="!isLoading else spinner">
  <ul class="courses">
    <li class="course-card" *ngFor="let course of courses">
      <a class="course-icon-container">
        <i class="bi bi-circle"></i>
        <img class="course-icon" [src]=course.imgSource alt="cultural event">
      </a>
      <a class="course-name" [routerLink]="">{{course.name}}</a>
      <!--        link to teacher page or some pop-up window about him/her-->
      <p class="course-description-divider">|</p>
      <a class="course-teacher" [routerLink]="">{{course.teacher}}</a>
      <!--        <p class="description">{{course.description}}</p>-->
      <!--      TODO: move description to specific course's component -->
    </li>
  </ul>
  <div class="source-link">
    <a href="https://www.flaticon.com/free-icons/" class="source">Icons created by Freepik - Flaticon</a>
  </div>
</ng-container>

<ng-template #spinner>
  <app-spinner [note]="spinnerNote"></app-spinner>
</ng-template>

