@import 'src/styles';

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem; // or: 2%
}

.course-card {
  display: flex;
  height: 15vh;
  width: 30%;
  padding-bottom: 2%;
  justify-content: center;
  align-items: center;
  gap: 2%;
  color: $font-color;

  .course-icon-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      .course-icon {height: 100%}
      i {
        font-size: 6rem;
        color: $primary-rose;
      }
    }

    .course-icon {
      position: absolute;
      height: 70%;
    }

    i {
      color: $primary-blue;
      font-size: 5rem;
    }
  }

  .course-description-divider {
    font-size: 2rem;
  }

  .course-name {
    font-size: 1.25rem;
    font-family: $font-primary;
  }

  a {
    color: $primary-blue;
    &:hover {color: $primary-rose}
  }
}

.source-link {
  position: relative;
  display: flex;
  justify-content: center;
}

