
<div class="actions-wrapper">
    <div class="action-box" [routerLink]="'/classes'" >
      <img class="action-icon" [src]="'assets/icons/paint-brush.png'" alt=""/>
      <p class="action-description">{{ DashboardAction.findClass }}</p>
    </div>
    <div class="action-box" [routerLink]="'/events'">
      <img class="action-icon" [src]="'assets/icons/theatre.png'" alt=""/>
      <p class="action-description">{{ DashboardAction.findEvent }}</p>
    </div>
    <div class="action-box" (click)="openModalCreate()">
      <img class="action-icon" [src]="'assets/icons/create-child-account.png'" alt=""/>
      <p class="action-description">{{ DashboardAction.createChildAccount }}</p>
    </div>
  </div>
