<form *ngIf="!isLoading" [formGroup]="updateCulturalEventForm" class="form-container">
  <fieldset class="form-group">

    <div class="form-field">
      <label>Name:</label>
      <input formControlName="name" class="form-control">
      <!--    <div *ngIf="form.get('firstName').invalid && (form.get('firstName').dirty || form.get('firstName').touched)">-->
      <!--      Please provide your first name.-->
      <!--    </div>-->
    </div>
    <div class="form-field">
      <label>Date:</label>
      <input type="date" formControlName="date" placeholder="YYYY-MM-DD" class="form-control form-date">
    </div>
    <div class="form-field">
      <label>Description:</label>
      <input formControlName="description" class="form-control">
    </div>
    <div class="form-field">
      <label>Price:</label>
      <input formControlName="price" class="form-control">
    </div>
    <div class="form-field">
      <label>Address:</label>
      <select formControlName="location">
        <option [value]="''" [disabled]="true">--Please choose an option--</option>
        <option *ngFor="let location of locations; index as i" [value]="i">{{location.location}}</option>
      </select>
    </div>
  </fieldset>

  <div class="form-buttons">
    <button class="button button-primary"
            (click)="submit()" [disabled]="updateCulturalEventForm.untouched || (updateCulturalEventForm.dirty && updateCulturalEventForm.invalid)">{{buttonAction.SAVE}}</button>
  </div>
</form>


