<form [formGroup]="createCourseForm" class="form-container">
  <fieldset class="form-group">

    <div class="form-field">
      <label>Name:</label>
      <input formControlName="name">
      <!--    <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">-->
      <!--      Please provide a course name.-->
      <!--    </div>-->
    </div>

    <div class="form-field">
      <label>Teacher:</label>
      <select formControlName="teacher">
        <option [value]="''" [disabled]="true">--Please choose an option--</option>
        <option *ngFor="let teacher of teachers; index as i" [value]=i>{{teacher.firstName}} {{teacher.lastName}}</option>
      </select>
    </div>

    <div class="form-field">
      <label>Description:</label>
      <input formControlName="description">
    </div>

    <div class="form-field">
      <label>Category:</label>
      <select formControlName="category">
        <option [value]="''" [disabled]="true">--Please choose an option--</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>

    <div class="form-field">
      <label>Max Participants Number:</label>
      <input formControlName="maxParticipantsNumber">
    </div>

    <div class="form-buttons">
      <button class="button button-secondary" (click)="toggleDetails()">{{showDetailsButtonText}}</button>
    </div>

    <div *ngIf="showDetails">
      <div class="form-field">
        <label>Min Age:</label>
        <input formControlName="minAge">
      </div>
      <div class="form-field">
        <label>Max Age:</label>
        <input formControlName="maxAge">
      </div>
      <div class="form-field">
        <label>Price:</label>
        <input formControlName="price">
      </div>
      <div class="form-field">
        <label>Lesson Duration in Minutes:</label>
        <input formControlName="lessonDurationMinutes">
      </div>
      <div class="form-field">
        <label>Date in format Mon 13:00-13:45:</label>
        <input formControlName="date">
      </div>
      <div class="form-field">
        <label>Address:</label>
        <select formControlName="location">
          <option [value]="''" [disabled]="true">--Please choose an option--</option>
          <option *ngFor="let location of locations; index as i" [value]=i>{{location.location}}</option>
        </select>
      </div>
    </div>
  </fieldset>

  <div class="form-buttons">
    <button class="button button-primary"
            (click)="submit()" [disabled]="createCourseForm.untouched || (createCourseForm.dirty && createCourseForm.invalid)">{{buttonAction.CREATE}}</button>
  </div>
</form>
