.course-detail-container {
  margin: 1.5rem;
}

.course-details-data-container {
  display: flex;
  gap: 10%;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.no-details-message {
  display: flex;
  align-items: flex-end;
}

.button-right {
  display: flex;
  justify-content: center;
}
