<div class = "course-detail-container" *ngIf="course$ | async as course">

  <div class = "course-data">
    <h2>{{course.name | uppercase}} </h2>
    <p *ngIf="course.teacher">Teacher: <b>{{course.teacher.firstName}} {{course.teacher.lastName}}</b></p>
    <p>{{course.description}}</p>
  </div>

  <div class="course-details-data-container" *ngIf="courseDetails">
    <ul class="course-details-data">
      <li>COURSE DETAILS:</li>
      <li>Minimum participant age: {{courseDetails.minAge}} years</li>
      <li>Maximum participant age: {{courseDetails.maxAge}} years</li>
      <li>Price per month: {{courseDetails.price | currency: 'PLN'}}</li>
      <li>Lesson duration: {{courseDetails.lessonDurationMinutes}} minutes</li>
      <li>Class schedule: {{courseDetails.date}}</li>
      <li>Place: {{courseDetails.location?.location}}</li>
      <li class = "slots-message" *ngIf="course.freeSlots !== 0; else noFreeSlots">
        We have {{course.freeSlots}} available slots out of {{course.maxParticipantsNumber}} for this course.
      </li>
    </ul>
    <div class="buttons-container" *ngIf="isAuthorized">
      <button-edit (onEditEvent)="openModalUpdate()"></button-edit>
      <button-delete (onDeleteEvent)="openModalDelete(courseDetails.id!)"></button-delete>
    </div>
<!--    OPCJA 'JOIN' DOSTĘPNA TYLKO WÓWCZAS, GDY SĄ 'COURSE DETAILS' -->
    <div class="button-right" *ngIf="isClient && course.freeSlots !== 0">
      <button class="button-primary" (click) = "openJoinDialog(course.name)">JOIN</button>
    </div>
  </div>

  <div class="no-details-message" *ngIf="courseDetails === null">
    <p>There is no details for now.</p>
    <button-add *ngIf = "isAuthorized" class="button-small" (onAddEvent)="openModalCreate()"></button-add>
  </div>

<!-- OPCJA 'JOIN' DOSTĘPNA NAWET WÓWCZAS, GDY NIE MA 'COURSE DETAILS' -->
<!--  <div class="button-right">-->
<!--    <button class="button-primary">JOIN</button>-->
<!--  </div>-->
</div>

<ng-template #noFreeSlots>
  <li class = "slots-message">
    Sorry, there is no more available slots for this course.
  </li>
</ng-template>
