<div class = "course-detail-container" *ngIf="course$ | async as course">

  <div class = "course-data">
    <h2>{{course.name | uppercase}} </h2>
    <p>Teacher: <b>{{course.teacher.firstName}} {{course.teacher.lastName}}</b></p>
    <p>{{course.description}}</p>
  </div>

  <div class="course-details-data-container" *ngIf="courseDetails">
    <ul class="course-details-data">
      <li>COURSE DETAILS:</li>
      <li>Minimum participant age: {{courseDetails.minAge}} years</li>
      <li>Maximum participant age: {{courseDetails.maxAge}} years</li>
      <li>Price per month: {{courseDetails.price | currency: 'PLN'}}</li>
<!--      <li>Participants number: {{course.maxParticipantsNumber}}</li>-->
      <li>Lesson duration: {{courseDetails.lessonDurationMinutes}} minutes</li>
      <li>Class schedule: {{courseDetails.date}}</li>
      <li>Place: {{courseDetails.location?.location}}</li>
      <li *ngIf="course.freeSlots !== 0; else noFreeSlots">
        We have {{course.freeSlots}} available slots out of {{course.maxParticipantsNumber}} for this course
      </li>
    </ul>
    <div class="buttons-container" *ngIf="isAuthorized">
      <button-edit (onEditEvent)="updateDetails()"></button-edit>
      <button-delete (onDeleteEvent)="deleteDetails(courseDetails.id!)"></button-delete>
    </div>
    <div class="button-right" *ngIf="isClient && course.freeSlots !== 0">
      <button class="button-primary" (click) = "openJoinDialog(course.name)">JOIN</button>
    </div>
  </div>

  <div class="no-details-message" *ngIf="courseDetails === null">
    <p><i>There is no details for now.</i></p>
    <button-add *ngIf = "isAuthorized" class="button-small" (onAddEvent)="addDetails()"></button-add>
  </div>

<!--  todo: czy udostępnić tą opcję, gdy nie ma courseDetails? - czy taki scenariusz jest możliwy?-->
<!--  <div class="button-right">-->
<!--    <button class="button-primary">JOIN</button>-->
<!--  </div>-->
</div>

<ng-template #noFreeSlots>
  <li>
    Sorry, there is no more available slots for this course.
  </li>
</ng-template>
<!--<ng-template #noDetails>-->
<!--  <p>There is no details for now.</p>-->
<!--</ng-template>-->
