.course-detail-container {
  margin: 1.5rem;
}

.course-details-data-container {
  display: flex;
  gap: 10%;
  margin-top: 1rem;
}

.no-details-message {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-style: italic;
}

.slots-message {
  margin-top: 1rem;
  font-style: italic;
}

.button-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
