<header class = "header-container">
  <img class="logo" src = "assets/images/logo-demo.jpg" alt = "Cultural Centre - Wieliszew" routerLink="home">
  <nav class = "header-navigation">
    <ul>
<!--      <li *ngFor = "let item of items">-->
<!--        <a routerLink="{{item | lowercase}}"-->
<!--           routerLinkActive="active"> {{item}} </a>-->
<!--      </li>-->
      <li>
        <a routerLink="home"
           routerLinkActive="active"> Home </a>
      </li>
      <li (click)="toggleAboutDropdown()">
        About <i class="bi bi-caret-down-fill" [ngClass]="{'rotated': isAboutDropdown}"></i>
      </li>
      <li>
        <a routerLink="events"
           routerLinkActive="active"> Events </a>
      </li>
      <li>
        <a routerLink="classes"
           routerLinkActive="active"> Classes </a>
      </li>
      <li>
        <a routerLink="contact"
           routerLinkActive="active"> Contact </a>
      </li>
    </ul>
  </nav>
<!--  <button mat-fab class="button-login" (click)="showPopUp()">-->
  <button *ngIf="!isUser" mat-fab class="button-login" routerLink="/login">
    <i class="bi bi-box-arrow-in-right"></i>
  </button>

  <button *ngIf="isUser" mat-fab class="button-login" (click)="toggleProfileDropdown()">
    <i class="bi bi-person-circle"></i>
  </button>
</header>

<app-user-dropdown *ngIf="isProfileDropdown"
                      [title] = profileDropdownTitle
                      (onTitleClickEvent) = "navigateToLandingPage()"
                      (navToProfileEvent) = "navigateToProfile()"
                      (logOutEvent)="logOut()"
></app-user-dropdown>

<app-about-dropdown *ngIf="isAboutDropdown"
                    (navToCompanyEvent) = "navigateToCompanyPage()"
                    (navToTeamEvent) = "navigateToTeamPage()"
></app-about-dropdown>
