@import 'src/styles';

.dropdown-profile {
  z-index: 99999;
  position: absolute;
  right: 1rem;
  padding: 1rem;
  background-color: white;
  border: solid 2px $primary-yellow;
  border-radius: 3rem;
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-title {
}

.dropdown-divider {
  width: 100%;
  margin: 0.5rem 0;
  border-bottom: 1px solid $primary-blue;
}

.dropdown-menu-items {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
