<form [formGroup]="createCourseDetailsForm" class="form-container">
  <fieldset class="form-group">
    <div class="form-field">
      <label>Min Age:</label>
      <input formControlName="minAge" class="form-control" required>
    </div>

    <div class="form-field">
      <label>Max Age:</label>
      <input formControlName="maxAge" class="form-control" required>
      <div [hidden]="maxAge.valid || maxAge.pristine" class="form-validation-errors">
        <small class="text-danger" *ngIf="maxAge.errors?.['required']">Please provide max age.</small>
        <small class="text-danger" *ngIf="maxAge.errors?.['maxAge']">Please make sure max age value is higher than min age value.</small>
      </div>
    </div>

    <div class="form-field">
      <label>Price:</label>
      <input formControlName="price" class="form-control" required>
    </div>

    <div class="form-field">
      <label>Lesson Duration in Minutes:</label>
      <input formControlName="lessonDurationMinutes" class="form-control" required>
    </div>

    <div class="form-field">
      <label>Date in format Mon 13:00-13:45:</label>
      <input formControlName="date" class="form-control" required>
    </div>

    <div class="form-field">
      <label>Address:</label>
      <select formControlName="location" class="form-control-select" required>
        <option value="">--Please choose an option--</option>
        <option *ngFor="let location of locations; index as i" [value]="i">{{location.location}}</option>
      </select>
    </div>
  </fieldset>

  <div class="form-buttons">
    <button class="button button-primary"
            (click)="submit()" [disabled]="createCourseDetailsForm.untouched || (createCourseDetailsForm.dirty && createCourseDetailsForm.invalid)">{{buttonAction.CREATE}}</button>
  </div>
</form>
