<section class = "menu-container" [style.border-color] = menuColor>
  <div class = "menu-title" [style.background-color] = menuColor>{{ title | uppercase }}</div>
  <div class="menu-list">
    <app-menu-item *ngFor="let item of items; index as i"
               (onSelect)="onSelectEvent.emit(i)"
               [data]="item">
      <i *ngIf="isItemDeletable" (click)="onDeleteEvent.emit(i)" class="bi bi-trash delete-icon"></i>
      <i *ngIf="isItemUpdatable" (click)="onUpdateEvent.emit(i)" class="bi bi-pencil update-icon"></i>
    </app-menu-item>
  </div>
</section>
