@import 'src/styles';

.cultural-events-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cultural-event {
  display: flex;
  height: 30vh;
  width: 70%;
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }

  .event-image {
    height: 100%;
    padding-right: 2%;
    border-radius: 3rem;
    border: 0;
    //box-shadow: $shadow;
  }
  .event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .description {
    @include multiline-ellipsis(6);
  }
  .event-name {
    font-size: 1.25rem;
    font-family: $font-primary;
    &:hover {color: $primary-rose}
  }
  .date {
    font-weight: bold;
  }
}
