<ng-container *ngIf="!isLoading else spinner">
  <div class="culturalEvents" *ngFor="let culturalEvent of culturalEvents">
    <article class="culturalEvent">
      <img class="image" [src]= culturalEvent.imgSource alt="cultural event">
      <a class="title" [routerLink]="">{{culturalEvent.title}}</a>
      <p class="date">{{culturalEvent.date}}</p>
      <p class="description">{{culturalEvent.description}}</p>
    </article>
  </div>
</ng-container>

<ng-template #spinner>
  <app-spinner [note]="spinnerNote"></app-spinner>
</ng-template>
