@use 'src/styles' as *;

.error-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .error-status {
    color: $primary-rose;
  }
  .error-status-text, .error-description, .error-message {
    color: $primary-blue;
  }
  .error-message {
    font-style: italic;
  }
}
