@import 'src/styles';

.courses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem; // or: 2%
}

.course-card {
  display: flex;
  height: 15vh;
  width: 30%;
  padding-bottom: 2%;
  justify-content: center;
  align-items: center;
  color: $font-color;

  .course-icon-container {
    display: flex;
    height: 100%;
    align-items: center;

    &:hover {
      i {
        font-size: 6rem;
        color: $primary-rose;
        .course-icon {height: 75%}
      }
    }

    i {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      color: $primary-blue;
      font-size: 5rem;
      .course-icon {
        position: absolute;
        height: 50%;
      }
    }
  }

  .course-description-divider {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .course-teacher {
    padding-right: 0.75rem;
  }

  .course-name {
    font-size: 1.25rem;
    font-family: $font-primary;
    padding-left: 0.5rem;
  }

  a {
    color: $primary-blue;
    &:hover {color: $primary-rose}
  }
}

.source-link {
  position: relative;
  display: flex;
  justify-content: center;
}

.button-add-wrapper {
  margin-bottom: 1rem;
}
