@import 'src/styles';

.cultural-events-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cultural-event {
  display: flex;
  height: 30vh;
  width: 70%;
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }

  .cultural-event-image {
    height: 100%;
    margin-right: 2%;
    border-radius: 1.5rem;
    box-shadow: $shadow;
  }
  .cultural-event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .cultural-event-description {
    @include multiline-ellipsis(6);
  }
  .cultural-event-name {
    font-size: 1.25rem;
    font-family: $font-primary;
    &:hover {color: $primary-rose}
  }
  .cultural-event-date {
    font-weight: bold;
  }
}
