/* You can add global styles to this file, and also import other style files */

// primary colors:
$primary-blue: #334075;
$primary-rose: #BA264A;
$primary-white: #F0EEE2; //lub: F0F0E2
$primary-yellow: #CE8D3D;
$font-color: #0A2533;
// buttons' shadow:
$shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
// fonts:
$font-primary: "Bauhaus 93", sans-serif;
$font-secondary: "Poppins", normal;
h3 {
  font-size: 0.75rem;
  font-family: $font-primary;
}
h2 {
  font-size: 1.25rem;
  font-family: $font-primary;
}

// html, body { height: 100%; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; // vh - viewport height
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $font-color;
}

%button-shared { // e.g. login button
  background-color: $primary-rose;
  border: 1px black;
  border-radius: 5rem;
}

.button-primary {
  @extend %button-shared;
  padding: 0.5rem 3rem;
  color: $primary-white;
  box-shadow: $shadow;
  cursor: pointer;
  //font-family: $font-secondary;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}
