/* You can add global styles to this file, and also import other style files */

// primary colors:
$primary-blue: #334075;
$primary-rose: #BA264A;
$primary-white: #F0EEE2; //lub: F0F0E2
$primary-yellow: #CE8D3D;

//html, body { height: 100%; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; //vh - viewport height
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
