<section class = "child-data-section">
  <app-card-client-profile [user]="child"></app-card-client-profile>
  <div class="buttons-container">
    <button-edit (onEditEvent)="onChildUpdate()"></button-edit>
    <button-delete (onDeleteEvent)="onChildDelete()"></button-delete>
  </div>
  <app-menu *ngIf="courses.length"
            [title]="'Child\'s Classes'"
            [items]="coursesMenuItems"
            [isItemDeletable] = true
            [menuColor]="'#BA264A'"
            (onSelectEvent)="navigateToClass($event)"
            (onDeleteEvent)="openModalDeleteCourse($event)"></app-menu>
</section>
