<!--<div class="login-form-container">-->
<form [formGroup]="form" class="form-container">
  <fieldset class="form-group">
    <legend class = "h2">Log in to CCW</legend>
    <div class="form-control">
      <input id="email" name="email" formControlName="email"
             type="email" class="form-control" placeholder="Email" title="example@example.com" required>
    </div>
    <div [hidden]="email.valid || email.pristine">
      <small class="text-danger" *ngIf="email.errors?.['email']">Please match the requested format: example@example.com </small>
    </div>
    <div class="form-control">
      <input name="password" formControlName="password"
             type="password" class="form-control" placeholder="Password" required>
    </div>
  </fieldset>

  <div class="form-buttons">
    <button class="button button-secondary"
            (click)="signUp()">Sign Up</button>

    <button class="button button-primary"
            (click)="logIn()">Log In</button>
  </div>
</form>
<!--</div>-->
<!--<app-modal *ngIf="isModalOpen" (onModalClose)="toggleModal()">-->
<!--  <app-sign-up-modal-form-->
<!--    (onSubmit)="createAccount($event)"-->
<!--    (onClose)="closeModal()">-->
<!--  </app-sign-up-modal-form>-->
<!--</app-modal>-->
