@use 'src/styles' as *;

.spinner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  color: $primary-blue;
}

//mat-spinner {
//    stroke: red;
//}
